<script>
  function
</script>

<form action="/" method="post">
	<label for="post-code">Post Code:</label>
	<input type="text" id="post-code" name="postCode" value="{{postCode}}">
	<button type="submit">Submit</button>
</form>

{{#if location}}
  <h2>{{location}}</h2>
{{/if}}

{{#if weathers}}
  <div class="row">
    {{#each weathers}}
      <div class="col">
        <div class="row">
          <i class="fas {{this.icon}}"></i>
        </div>
        <div class="row">
          {{this.date}}
        </div>
        <div class="row">
          {{this.label}}
        </div>
        </div class="row">
          max: {{this.maxTemp}} min: {{this.minTemp}}
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}
